.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  z-index: 999;
  transition: all .3s ease-in-out;
  background-color: white;

  & .list {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      color: black;
      user-select: none;
      cursor: pointer;
      padding-left: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 0.5px solid #dddddd;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
